.some-page-wrapper {
    margin: 15px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
  }
  
  .blue-column {
    height: 100px;
  }
  
  .green-column {
      height: 100px;
  }